body{
    margin: 0;
    padding: 0;
}
.main{

    display: flex;
    /* flex-wrap: wrap; */
    width: 1280px;
    height: 843px;
    top: 80px;
    left: 80px;
    margin: 3%;

}
.pics{
    margin: 0;
    flex: 45% ;
}
.details{
    flex: 45%;
    margin: 0;
}

@media screen and (max-width: 767px) {
.main{
    flex-direction: column;
}
hr{
   width: 100%; 
}

}
